<mat-toolbar color="primary">
    <button mat-icon-button (click)="reloadTheSite()">
        <mat-icon>home</mat-icon>
    </button>
    <span (click)="reloadTheSite()">Dashboard</span>
</mat-toolbar>
<div>
    <div class="ml-3 mr-3 mb-3 mt-3">
       
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <app-datepicker></app-datepicker>
                </div>
            </div>
        </div>
        <hr/>
        <app-title-header></app-title-header>
        <app-bar-chart></app-bar-chart>
        
        <app-circlechart></app-circlechart>
        
        <app-detailed-survey></app-detailed-survey>
        <div class="mt-3 mb-3">
            <app-score-line-chart></app-score-line-chart>
        </div>
        <app-recent-reviews></app-recent-reviews>
        <div class="mt-3">
            <app-best-schools></app-best-schools>
        </div>
    </div>
</div>
