<div *ngIf="this.dataReceived.length===1" >
  <h2>Category Wise School Performance</h2>
  <div *ngIf="this.dataReceived.length===1" style="display: block;">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected" (valueChange)="valueChanged()">
          <mat-option value="overall">Overall Score</mat-option>
          <mat-option value="Infrastructure">Infrastructure</mat-option>
          <mat-option value="Academic Excellence">Academic Excellence</mat-option>
          <mat-option value="Extra Curricular activities">Extra Curricular Activities</mat-option>
          <mat-option value="Individual attention">Individual Attention</mat-option>
          <mat-option value="Life Skills education">Life Skills Education</mat-option>
          <mat-option value="Percentage of female students and faculty">Percentage of female students and faculty</mat-option>
          <mat-option value="Facilities for differently abled persons">Facilities for differently abled persons</mat-option>
          <mat-option value="Values Education">Values Education</mat-option>
          <mat-option value="Hygiene">Hygiene</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <canvas baseChart style="height: 400px;"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        [options]="lineChartOptions">
      </canvas>
  </div>
  