<mat-toolbar color="primary">
    <button mat-icon-button (click)="reloadTheSite()">
        <mat-icon>home</mat-icon>
    </button>
    <span (click)="reloadTheSite()">Dashboard</span>
</mat-toolbar>
<div>
    <div class="d-flex justify-content-center">
        <mat-form-field appearance="fill">
            <mat-label>Record Date</mat-label>
            <mat-select [(value)]="startDateSelected" (valueChange)="valueChanged()">
              <mat-option *ngFor="let option of Options" [value]="option">
                {{option  | date:'mediumDate'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <hr/>
    <div  class="d-flex justify-content-center">
    <div class="example-button-row">
        <button mat-raised-button color="primary" class="k-button" (click)="pdf.saveAs('auto-paging.pdf')">
            Export
        </button>
    </div>
    </div>
    <hr/>
    <kendo-pdf-export #pdf paperSize="A4" margin="2cm" forcePageBreak=".page-break" >
        <div  class="d-flex justify-content-around">
          <h3 class="text-center">
            <img alt="Logo" src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Andhraseal.png" width="150" height="70">
        </h3>
            <h1>School Report</h1> 
            <h3 class="text-center">
              <img alt="Logo" src="https://st2.depositphotos.com/1588812/11108/v/950/depositphotos_111080206-stock-illustration-vector-logo-school.jpg" width="150" height="70">
          </h3>
         </div>
         <hr/>
        <div class="ml-3 mr-3">
                    <h2 class="customWrap"><b>School Name</b> : {{SchoolName}}</h2>
                    <h3 class="customWrap"><b>School ID</b> : {{SchoolID}}</h3>
                    <h3 class="customWrap"><b>Address</b> : {{SchoolAddress}}</h3>
                    <h3 class="customWrap"><b>District</b> : {{SchoolDistrict}}</h3>
                    <h3 class="customWrap"><b>Most Recent Review</b> : {{OverallReview}} </h3>
        </div>
        <hr/>
        <h2 class='page-break'>Detailed Survey Results</h2>
        <table mat-table [dataSource]="detailedSurveyData" class="mat-elevation-z8">
            <ng-container matColumnDef="Question">
                <th mat-header-cell *matHeaderCellDef> Questions </th>
                <td mat-cell *matCellDef="let element"> {{element.question}} </td>
              </ng-container>


                <ng-container matColumnDef="Answer">
                  <th mat-header-cell *matHeaderCellDef> Answer </th>
                  <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
                </ng-container>
              <ng-container matColumnDef="Anaylsis">
                <th mat-header-cell *matHeaderCellDef> Anaylsis </th>
                <td mat-cell *matCellDef="let element"> {{element.analysis}} </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="detailedSurveyTable"></tr>
            <tr mat-row *matRowDef="let row; columns: detailedSurveyTable;"></tr>
          </table>
          <hr/>
          <br/>
          <br/>
          <h2 class='page-break'>Improvements</h2>
          <h3>Overall Review</h3>
          <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>          
        <h3 class='page-break'>Hygiene</h3>
        <canvas baseChart
          [datasets]="lineChartDataC1"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>
        <h3 class='page-break'>Infrastructure</h3>
        <canvas baseChart
          [datasets]="lineChartDataC2"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>
        <h3 class='page-break'>Academic Excellence</h3>
        <canvas baseChart
          [datasets]="lineChartDataC3"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>
        <h3 class='page-break'>Extra Curricular activities</h3>
        <canvas baseChart
          [datasets]="lineChartDataC4"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>
        <h3 class='page-break'>Individual attention</h3>
        <canvas baseChart
          [datasets]="lineChartDataC5"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>
        <h3 class='page-break'>Life Skills education</h3>
        <canvas baseChart
          [datasets]="lineChartDataC6"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>
        <h3 class='page-break'>Percentage of female students and faculty</h3>
        <canvas baseChart
          [datasets]="lineChartDataC7"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>
        <h3 class='page-break'>Facilities for differently abled persons</h3>
        <canvas baseChart
          [datasets]="lineChartDataC8"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>
        <h3 class='page-break'>Values Education</h3>
        <canvas baseChart
          [datasets]="lineChartDataC9"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          height="400vh"
          width="400vw"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [options]="lineChartOptions">
        </canvas>

            </kendo-pdf-export>
</div>