<mat-card class="col-md-4">
    <mat-card-title>App Name</mat-card-title>
    <mat-card-content>
       <ul>
           <li>
               <a href="#">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
               </a>
           </li>
           <li>
               <a>
                   <i class="material-icons">user</i>
                   <p>User</p>
               </a>
               
           </li>
       </ul>
    </mat-card-content>
</mat-card>